body { padding-top: 70px; }
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

}
.thumbnail:hover{
    border: 1px solid #ccc;
    box-shadow: 4px 4px 10px #e9e9e9,-4px -4px 10px #e9e9e9,4px -4px 10px #e9e9e9,-4px 4px 10px #e9e9e9;
}
.margin-bottom-70 {
    margin-bottom: 70px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}


.list-group-item-text
{
    margin: 0 0 11px;
}

.mail-info ul li i 		{		margin-left: 10px;  		margin-right: 10px; 		}
.mail-categories .list-group .list-group-item { padding: 0px; }
.mail-categories .list-group .list-group-item.active > a { border-left: 3px solid rgb(28, 126, 187); color: rgb(28, 126, 187); background-color: rgb(250, 250, 250); }
.mail-categories .list-group .list-group-item > a { border-left: 3px solid rgb(246, 246, 246); display: block; padding: 15px; text-decoration: none; transition: all 0.25s ease-in-out 0s; }
.mail-categories .list-group .list-group-item > a:hover { border-left: 3px solid rgb(28, 126, 187); color: rgb(28, 126, 187); background-color: rgb(250, 250, 250); }
.mail-categories .list-group .list-group-item > a > i { font-size: 16px; width: 18px; margin-right: 5px; }
.mail-categories .list-group .list-group-item > a > i.fa-circle { font-size: 14px; }

.mail-container .mail-header { padding: 15px 0px; }
.mail-container .mail-header h3 { margin-top: 0px; }

.mail-container .mail-info { padding: 0px; border-top: 1px solid rgb(241, 241, 241); border-bottom: 1px solid rgb(241, 241, 241); }
.mail-container .mail-info .col-md-8, .mail-container .mail-info .col-md-4 { padding: 0px; }

.mail-container .mail-content { padding: 15px 0px; border-bottom: 1px solid rgb(241, 241, 241); }
.mail-container .mail-attachments { padding: 15px 0px; border-bottom: 1px solid rgb(241, 241, 241); }
.mail-container .mail-actions { margin-top: 10px; }
.panel .panel-heading { text-transform: uppercase; }
.error {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 150px;
  line-height: 100px;
}

.error-desc {
  font-size: 18px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}
.custm {
    font-size: 20px
}
